html,
body {
  height: 100%;
}

body {
  font-family: "IBM Plex Sans", "Helvetica Neue", Ariel;
  font-weight: 400;
  letter-spacing: 0.2;
  background: #000000;
  color: #eee;
  margin: 0 auto;
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

p {
  font-size: 16px;
  line-height: 1.4em;
  font-weight: 400;
}

h1 {
  font-weight: 200;
  font-size: 44px;
}

h2 {
  font-size: 32px;
  text-align: left;
  font-weight: 300;
}

h3 {
  font-size: 24px;
  line-height: 1.2em;
}

a {
  text-decoration: none;
  color: #eee;
}

/*
.bg {
  position: fixed;
  z-index: -1;
  margin: 0 auto;
  width: 100%;
  padding-top: 56.25%;
  perspective: 600px;
}

.bgvideo {
  width: 100%;
  height: 100%;
  max-height: 100vh;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform-style: preserve-3d;
  opacity: 0.9;
  filter: blur(0px);
  transform: translate3d(0, 0, 0);
  transform-origin: 0 0 0;
  transition: opacity 0.5s ease-in-out, filter 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.blurred .bgvideo {
  opacity: 0.5;
  filter: blur(10px);
}

.playing .bgvideo {
  opacity: 1;
  transform: translate3d(0, 0, 200px);
}
*/

.container {}

header {
  /*position: fixed;*/
  /*padding-top: 28.325%;*/
  /*padding-bottom: 28.325%;*/
  /*width: 100%;*/
  perspective: 300px;
}

.header-logo {
  /*position: absolute;*/
  opacity: 1;
  opacity: 0;
  /* TODO: switch the opacity */
}

.header-text {
  /*position: absolute;*/
}

.content {
  /*padding: 56.65% 3%;*/
  perspective: 600px;
}

nav {
  font-size: 20px;
  margin: 0;
  padding: 10px;
  width: 100%;
  text-transform: uppercase;
  position: absolute;
  z-index: 9999;
  display: flex;
  align-items: top;
  justify-content: space-around;
}

.tagline {
  font-weight: 200;
}

.projects {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  transform-style: preserve-3d;
  transform: translate3d(0, 0, -100px);
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

.blurred .projects {
  transform: translate3d(0, 0, 0);
}

.playing .projects {
  transform: translate3d(0, 0, 600px);
  opacity: 0;
}

.project {
  flex: 0 0 calc(48%);
  margin: 2% 0;
}

.project>img {
  width: 100%;
}

.history {
  width: 60%;
}

* {
  box-sizing: border-box;
}
